#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}
